/**
 * Fonts
 */

@font-face {
  font-family: "Cabrito norm bold";
  font-style: normal;
  font-weight: 700;
  src: url("../font/cabritosansnormbold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cabrito norm demi";
  font-style: normal;
  font-weight: 400;
  src: url("../font/cabritosansnormdemi-webfont.woff") format("woff");
}

@font-face {
  font-family: "Merriweather bold";
  font-style: normal;
  font-weight: 700;
  src: url("../font/merriweathersans-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Merriweather regular";
  font-style: normal;
  font-weight: 400;
  src: url("../font/merriweathersans-regular-webfont.woff") format("woff");
}

/**
 * Basics
 */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/**
 * Custom styling
 */

html {
  font-family: "Merriweather regular", Verdana, sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 1.4;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #5d594f;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cabrito norm demi", Verdana, sans-serif;
  line-height: 1.2;
  color: #007562;
  margin: 0 0 0.7em;
}

h1 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: #e46b2a;
}

a:hover {
  color: #007562;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid lightgray;
  padding: 0.2em 0.4em;
}

th {
  font-family: "Cabrito norm demi", Verdana, sans-serif;
  color: #007562;
  text-align: left;
}

cite {
  display: block;
  margin-left: 3em;
  font-style: italic;
}

header {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

header img {
  width: 320px;
  max-width: 70%;
}

.banner {
  position: relative;
  padding-top: 15%;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-content {
  flex-grow: 1;
  border-top: 1px solid #007562;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 800px;
  padding: 25px 10px 50px;
}

.instruction-and-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em auto;
  text-align: center;
  width: 500px;
  max-width: 100%;
  font-size: 1.1em;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 400px) {
  .instruction-and-input {
    padding: 2em;
  }
}

.instruction-and-input input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.instruction-and-input label {
  font-size: 1.2em;
  padding: 0.5em 1em;
  color: #fff;
  background-color: #166fd5;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.instruction-and-input input:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.instruction-and-input input:focus + label,
.instruction-and-input label:hover {
  background-color: #0d4c94;
}

.instruction-and-input__disclaimer {
  margin: 1em 0 0;
  font-size: 0.9em;
  font-style: italic;
}

.example-table-wrapper {
  margin-bottom: 0.5em;
  max-width: 100%;
  display: inline-block;
  overflow-x: auto;
}

.example-table-wrapper table {
  width: 650px;
}

.example-table-addition {
  padding: 0.2em 0;
  text-align: center;
  font-size: 0.9em;
  font-style: italic;
}
