/**
 * Fonts
 */

@font-face {
    font-family: "Cabrito norm bold";
    font-style: normal;
    font-weight: 700;
    src: url("../font/cabritosansnormbold-webfont.woff") format("woff");
}

@font-face {
    font-family: "Cabrito norm demi";
    font-style: normal;
    font-weight: 400;
    src: url("../font/cabritosansnormdemi-webfont.woff") format("woff");
}

@font-face {
    font-family: "Merriweather bold";
    font-style: normal;
    font-weight: 700;
    src: url("../font/merriweathersans-bold-webfont.woff") format("woff");
}

@font-face {
    font-family: "Merriweather regular";
    font-style: normal;
    font-weight: 400;
    src: url("../font/merriweathersans-regular-webfont.woff") format("woff");
}

/**
 * Basics
 */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

p {
    margin-top: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/**
 * Custom styling
 */

html {
    font-family: "Merriweather regular", Verdana, sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 1.4;
    --error-red: #dc5041;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #5d594f;
    line-height: 1.8;
}

body.disable-scrolling {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cabrito norm demi", Verdana, sans-serif;
    line-height: 1.2;
    color: #007562;
    margin: 0 0 0.7em;
}

h1 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: #e46b2a;
}

a:hover {
    color: #007562;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid lightgray;
    padding: 0.2em 0.4em;
}

th {
    font-family: "Cabrito norm demi", Verdana, sans-serif;
    color: #007562;
    text-align: left;
}

cite {
    display: block;
    margin-left: 3em;
    font-style: italic;
}

header {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

header img {
    width: 320px;
    max-width: 70%;
}

.banner {
    position: relative;
    padding-top: 15%;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content {
    flex-grow: 1;
    border-top: 1px solid #007562;
}

.container {
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 25px 10px 50px;
}

.instruction-and-input {
    position: relative;
    margin: 2em auto;
    text-align: center;
    width: 500px;
    max-width: 100%;
    font-size: 1.1em;
    padding: 1em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 400px) {
    .instruction-and-input {
        padding: 2em;
    }
}

.instruction {
    margin-bottom: 1em;
}

/**
 * Separator select
 */
.separator-select-error {
    display: none;
}

.separator-select-error--visible {
    position: absolute;
    left: 50%;
    margin: 0 auto;
    padding: 8px 30px 8px 12px;
    border-radius: 4px;
    display: inline-block;
    color: #fff;
    white-space: nowrap;
    background-color: var(--error-red);
    transform: translate(-50%, -125%);
}

.separator-select-error--visible::before {
    content: "✕";
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.separator-select-error--visible::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-width: 7px 7px 0;
    border-style: solid;
    border-color: var(--error-red) transparent;
}

.separator-select {
    display: block;
    font-size: 16px;
    color: #444;
    line-height: 1.3;
    padding: .6em 2em .5em .8em;
    box-sizing: border-box;
    margin: 0 auto 16px;
    border: 1px solid #eee;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f5f5f5;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    transition: all 0.1s ease-out;
}

.separator-select::-ms-expand {
    display: none;
}

.separator-select:hover,
.separator-select:focus {
    border-color: #bbb;
}

.separator-select:focus {
    outline: none;
}

.separator-select option {
    font-weight: normal;
}

/**
 * File input
 **/
.instruction-and-input input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.instruction-and-input label {
    display: inline-block;
    font-size: 1.1em;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #166fd5;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

.instruction-and-input input:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.instruction-and-input input:focus + label,
.instruction-and-input label:hover {
    background-color: #0d4c94;
}

/**
 * Disclaimer
 */
.disclaimer {
    margin: 1em 0 0;
    font-size: 0.9em;
    font-style: italic;
}

/**
 * Example table
 */
.example-table-wrapper {
    margin-bottom: 0.5em;
    max-width: 100%;
    display: inline-block;
    overflow-x: auto;
}

.example-table-wrapper table {
    width: 650px;
}

.example-table-addition {
    padding: 0.2em 0;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}

/**
 Message popups
 */
.message {
    display: none;
}

.message--visible {
    display: block;
}

.message::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.message__popup {
    position: fixed;
    top: calc(50% + 20px);
    transform: translateY(calc(-50% - 20px));
    margin: 0 auto;
    padding: 25px 15px;
    max-width: 700px;
    right: 20px;
    left: 20px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    max-height: calc(100vh - 40px);
    border-radius: 5px;
    overflow: auto;
}

@media only screen and (min-width: 600px) {
    .message__popup {
        padding: 30px;
    }
}

.message__popup h1 {
    color: inherit;
    font-size: 30px;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5em;
}

.message__content {
    font-size: 16px;
}

.message__buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.message__ok-button,
.message__agree-button,
.message__cancel-button {
    display: inline-block;
    font-size: 18px;
    padding: 0.3em 1em;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.2s ease-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
}

.message__ok-button {
    color: #fff !important;
    background-color: rgba(0, 0, 0, 0.2);
}

.message__ok-button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.message__agree-button {
    margin-right: 8px;
    color: #fff !important;
    background-color: #007562;
}

.message__agree-button:hover {
    background-color: #015347;
}

.message__cancel-button {
    color: #007562;
}

.message__cancel-button:hover {
    color: #015347;
}

/**
 * Message popup variants
 **/
.message--error .message__popup {
    color: #fff;
    background-color: var(--error-red);
}

.message--agree .message__popup h1 {
    color: #007562
}